* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.65;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #A86A00 50%, #ffff 50%);
    color: #fff;
}

/*Main Styles*/


.uc__wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.uc__details {
    position: relative;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    align-items: flex-start;
    justify-content: center;
}

.uc__art {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uc__art img {
    width: 80%;
}

.title {
    display: inline-block;
    font-size: 40px;
    position: relative;
    margin-bottom: 1rem;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: 140px;
}

.intro {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.uc__description {
    display: inline-block;
    margin-bottom: 2rem;
    line-height: 1.77;
    color: #ccc;
}


@media screen and (max-width: 1200px){
	.uc__wrapper{
		width: 95%;
	}
}

@media screen and (max-width: 500px){
	.uc__details{
		max-width: 280px;
		padding-left: 10px;
		padding-top: 10px;
	}
}
@media screen and (max-width: 600px){
	.uc__details{
		max-width: 140px;
		padding-left: 5px;
		padding-top: 5px;
	}
    .title{
        font-size: 33px;
        }
}